.contacts__title {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: lighter;
  color: @bg-darkblue;
  text-align: center;
}

.contacts__list {
  .reset-list;
}

.contacts__item {
  padding: 0 20px;
  text-align: center;
}

.contacts__text {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

.contacts__info {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: lighter;
  color: #d22856;
}
