.download {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .download {
    position: absolute;
    top: 380px;
    left: 0;
  }
}

.download__btn {
  margin: 30px 0;
  text-decoration: none;
  background-color: @bg-darkblue;
}

.download__list {
  width: 215px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  .reset-list;
}

.download__link {
  display: block;
}

.download__link--apple {
  width: 46px;
  height: 57px;
  background: url("../img/logo-apple.svg") no-repeat left bottom;
}

.download__link--android {
  width: 42px;
  height: 47px;
  background: url("../img/logo-android.svg") no-repeat left bottom;
}

.download__link--windows {
  width: 44px;
  height: 42px;
  background: url("../img/logo-microsoft.svg") no-repeat left bottom;
}

.download__text {
  margin: 0;
  padding: 30px 0 35px;
  color: @font-color-white;
  font-weight: lighter;
  text-align: center;
}
