.download {
  background-color: @bg-darkblue;
}

.download__btn {
  text-decoration: none;
  color: @font-color-white;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.download__list {
  .reset-list;
}

.download__text {
  color: @font-color-white;
  font-weight: lighter;
  text-align: center;
}
