.field-radio {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 35px;
    padding-left: 120px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding-left: 70px;
  }
}

.field-radio:last-child {
  margin-bottom: 0;
}

.field-radio__label {
  padding-left: 80px;
  font-size: 18px;
  line-height: 30px;
  color: @bg-darkblue;
}
