.gallery {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @tablet-width) {
    justify-content: center;
  }
}

.gallery__text {
  margin: 0;
  padding: 50px 20px;
  line-height: 30px;
  color: @bg-darkblue;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 50px 100px;
  }
}
