.page-header {
  margin: 0 auto;
  background-color: @bg-darkblue;
  background: url(../img/iphone-hand-mobile@1x.png) no-repeat 0 0,
              url(../img/bg-back-mobile@1x.jpg) no-repeat 0 0;
}

.page-header__wrapper {
  width: 280px;
  padding: 0 20px;
}

.main-nav__list {
  .reset-list;
}

.main-nav__link {
  text-decoration: none;
  color: @font-color-white;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}

.page-header__title {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: lighter;
  color: @font-color-white;
  text-align: center;
}
