.page-header {
  position: relative;
  height: 65px;
  padding-bottom: 396px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 bottom, center;
  background-size: 258px 286px, cover;

  @media (min-width: @tablet-width) {
    height: 110px;
    padding-bottom: 615px;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 170px bottom, center;
    background-size: 450px 550px, cover;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 743px;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 80% bottom, center;
    background-size: 550px 630px, cover;
  }
}

.page-header--inner {
  height: 65px;
  padding-bottom: 172px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: @tablet-width) {
    height: 110px;
    padding-bottom: 333px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 284px;
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 65px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: @tablet-width) {
    height: 110px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    height: 110px;
  }
}

.page-header__logo-img {
  display: block;
  width: 74px;
  height: 23px;
}
