.page-footer__logo {
  width: 146px;
  height: 40px;
  padding: 40px 90px;
}

.page-footer__socials {
  padding: 0 55px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
  }
}
