.price {
  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: @bg-grey;
  }

  @media (min-width: @desktop-width) {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}

.price__table {
  width: 320px;
  margin: 0 auto;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 640px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.price__title {
  // width: 280px;
  background-color: @bg-darkblue;
  padding: 20px 90px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @bg-grey;
  color: @font-color-white;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-width: 154px;
    padding: 20px 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 235px;
    padding: 20px 0;
  }
}

.price__item {
  border: 2px solid @bg-grey;
}

.price__title-addition {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.price__title-addition--empty {
  @media (min-width: @tablet-width) {
    background-color: @bg-grey;
  }
}

.price__text {
  min-width: 154px;
  padding: 15px 0;
  background-color: #ffffff;
  line-height: 30px;
  color: @bg-darkblue;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid @bg-grey;

  &--hide {
    display: none;

    @media (min-width: @tablet-width) {
      display: table-cell;
    }
  }
}

.icon-yes {
  fill: #3dc644;

  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.icon-no {
  fill: #f25b26;

  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.price__toggles {
  margin: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
